.react-hook-div {
  margin: 55px auto;
  border: black 1px solid;
  width: 500px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  height: 100px;
  justify-content: space-evenly;
}
.incrementBtn,
.decrementBtn,
h3 {
  height: 50px;
  padding: 20px;
  margin-top: 20px;
}
